<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  {% include 'includes/header.html' %}
  <title>{% block header %} Yatube {% endblock %}</title>
</head>
<body>
<header>
      {% include 'includes/menu.html' %}
</header>
<main>
  <div class="container py-5">
    {% block content %}
      <p>'Ты <i>не можешь</i> получить правильные <b>ответы</b>,<br>
          если у тебя нет правильных <s>вопросов</s> запросов.'</p>
    {% endblock %}
    </div>
</main>
<footer class="border-top text-center py-3">
  {% include 'includes/footer.html' %}
</footer>
</body>