{% extends "base.html" %}
{% block header %}Об авторе проекта{% endblock %}
{% block content %}
<div class="col-md-8 p-5">
  <h1 class="mx-auto">Привет, я <a href="/profile/MrGorkiy/">MrGorkiy</a> </h1>
  <div class="card">
    <div class="card mx-auto" style="width: 60rem;">
      <img src="/media/image.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">О себе</h5>
        <p class="card-text">Звать меня Максим, решил сменить профессию так как давно
          увлекаюсь и прям тянет в IT. Немного уже шарю за питон, делал пару игровых и селф
          ботов для практики, и пару простых для работы, типа отслеживания кол-ва
          постов в группе вк, авто наложение ватермарки на фото или видео и прочие для меня полезные мелочи!
          Но хочу развиваться и учится!)))</p>
        <p class="card-text">И вот я создал первый сайт на Python и Django,
         получилось не супер идеально, но мне очень нравится и я многому научился.</p>
        <a href="/profile/MrGorkiy/" class="btn btn-primary">В профиль</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}