{% extends "base.html" %}
{% block header %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        MySQL
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        UniTest
      </li>
      <li class="list-group-item">
        Photoshop
      </li>
      <li class="list-group-item">
        Illustrator
      </li>
      <li class="list-group-item">
        Maya
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <h1>Проект Yatube — это платформа для публикаций, макро-блог.</h1><br>
    <h2>Техническое задание</h2>
    <p>Необходимо разработать социальную сеть для публикации личных дневников.
      Это будет сайт, на котором можно создать свою страницу.
      Если на нее зайти, то можно посмотреть все записи автора.
      Пользователи смогут заходить на чужие страницы, подписываться на авторов и комментировать их записи.
      Автор может выбрать имя и уникальный адрес для своей страницы. Дизайн можно взять самый обычный, но красивый.
      Тексты без особой разметки. Должно выглядеть нормально, поиграйте со шрифтами.
      Еще надо иметь возможность модерировать записи и блокировать пользователей, если начнут присылать спам.
      Записи можно отправить в сообщество и посмотреть там записи разных авторов.
      Вы же программисты, сами понимаете, как лучше сделать. =)
    </p>
    <div class="card my-4">
      <h4 class="card-header">Реализованые функции в проекте</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Регистрация, Вход и Выход
        </li>
        <li class="list-group-item">
          Публикация постов в заранее заданных группах и без
        </li>
        <li class="list-group-item">
          Возможность прикреплять картинку к постам
        </li>
        <li class="list-group-item">
          Добавление комментариев и их удаление
        </li>
        <li class="list-group-item">
          Страницы постов группы
        </li>
        <li class="list-group-item">
          Страница личной ленты постов, формирующиеся по подпискам пользователя
        </li>
        <li class="list-group-item">
          Кеширование главной страницы
        </li>
        <li class="list-group-item">
          Модерирование записей, комментариев, подписок
        </li>
      </ul>
    </div>
  </article>
</div>
{% endblock %} 