{% extends 'base.html' %}
{% block header %}Новый пароль{% endblock %}
{% block content %}
{% load user_filters %}
{% if validlink %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Введите новый пароль</div>
          <div class="card-body">
            <form method="post" action="../users/lpassword_reset_confirm.html">
              {% csrf_token %}
              <div class="form-group row my-3 p-3">
                <label>
                  Новый пароль
                  <span class="required text-danger">*</span>
                </label>
                {% for field in form %}
                  <div class="form-group row">
                  <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}</label>
                  <div class="col-md-6">
                      {{ field|addclass:"form-control" }}
                  </div>
                  <small class="form-text text-muted">
                    <ul>
                      <li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
                      <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                      <li>Ваш пароль не может быть одним из широко распространённых паролей.</li>
                      <li>Ваш пароль не может состоять только из цифр.</li>
                    </ul>
                  </small>
                 </div>
                {% endfor %}

                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                        Назначить новый пароль
                    </button>
                </div>
              </div>
            </form>
          </div> <!-- card body -->
        </div>
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->

  {% else %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Ошибка</div>
        <div class="card-body">
          <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endif %}
{% endblock %}